<div id="wrapper">
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="side-menu">
        <li class="nav-header">
          <div class="dropdown profile-element"> <span>
                             </span>
            <a data-toggle="dropdown" class="dropdown-toggle">
                                <span class="clear">
                                  <span class="block m-t-xs">
                                    <strong class="font-bold"><%= session[:username] %></strong>
                                   </span>
                                  <span>当前管理员 </span>
                                </span>
            </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li class="divider"></li>
              <li>退出
              </li>

            </ul>
          </div>
          <div class="logo-element">
            H+
          </div>
        </li>

            <li>

          <a href="">
            <i class="fa fa-file"></i>

              <span class="nav-label">题目</span>


            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level">



          </ul>
        </li>






            <li>


        <a href="">
          <i class="fa fa-user"></i>

          <span class="nav-label">商家入驻</span>

          <span class="fa arrow"></span>
        </a>
          <ul class="nav nav-second-level">

            <li>

              <%= link_to '商家入驻',businesssettleds_path,'data-no-turbolink'=>true%>

             管理员

            </li>

          </ul>
        </li>



            <li>


          <a href="">
            <i class="fa fa-users"></i>

            <span class="nav-label">用户</span>
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level">
            <li>

            </li>
          </ul>
        </li>




            <li>


          <a href=""><i class="fa fa-history"></i> <span class="nav-label">用户记录</span><span class="fa arrow"></span> </a>
          <ul class="nav nav-second-level">
            <li>

            </li>
          </ul>
        </li>







            <li>

          <a href=""><i class="fa fa-ils"></i> <span class="nav-label">序列号</span><span class="fa arrow"></span> </a>
          <ul class="nav nav-second-level">
            <li>

            </li>
          </ul>
        </li>


            <li>


          <a href=""><i class="fa fa-bug"></i> <span class="nav-label">错题</span><span class="fa arrow"></span> </a>
          <ul class="nav nav-second-level">
            <li>

            </li>


            <li>

            </li>
          </ul>
        </li>







      </ul>
    </div>
  </nav>
</div>
<div id="page-wrapper" class="gray-bg dashbard-1">
  <div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

      <ul class="nav navbar-top-links navbar-right">
        <li>
          <span class="m-r-sm text-muted welcome-message"><a href="/questions" title="返回首页"><i class="fa fa-home"></i></a>驾校考试后台管理</span>
        </li>


        <li>
          <a href="/logins">
            <i class="fa fa-sign-out"></i> 退出
          </a>
        </li>
      </ul>

    </nav>
  </div>